<app-painelmain-lojavirtual titulo = "Painel de Produtos" col="12" tipo="info">
    <div class="col-sm-6">
        <br>
        <!--Campo Nome do Colaborador  -->
        <div class="row">
          <div class="form-group col-md-9">
            <label >Nome:</label>
            <input type="text" class="form-control" id="inp_id_machine" name="id_machine" onblur="copyNameMachine()" required>
          </div>
        </div>

        <br>
        <!--Campo Nome do Colaborador  -->
        <div class="row">
          <div class="form-group col-md-9">
            <label >Descrição:</label>
            <input type="text" class="form-control" id="inp_nome_machine" name="nome_machine" required>
          </div>
        </div>
        <br>

        <div class="row">
            <div class="form-group col-md-9">
              <label >Preço:</label>
              <input type="text" class="form-control" id="inp_nome_machine" name="nome_machine" required>
            </div>
        </div>
        <br>

        <button type="button" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
</app-painelmain-lojavirtual>