<app-painelmain-lojavirtual titulo = "Adicionar Produto" col="12" tipo="info">
    <div class="col-sm-6">
        <br>
        <!--Campo Nome do Colaborador  -->
        <div class="row">
          <div class="form-group col-md-9">
            <label >Nome:</label>
            <input type="text" class="form-control" id="add_nome" >
          </div>
        </div>

        <br>
        <!--Campo Nome do Colaborador  -->
        <div class="row">
          <div class="form-group col-md-9">
            <label >Descrição:</label>
            <input type="text" class="form-control" id="add_desc" >
          </div>
        </div>
        <br>

        <div class="row">
            <div class="form-group col-md-9">
              <label >Preço:</label>
              <input type="text" class="form-control" id="add_preco" >
            </div>
        </div>
        <br>

        <button type="button" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger" style="margin-left: 20px;">Cancelar</button>
      </div>
</app-painelmain-lojavirtual>