<div *ngIf="produtos">
  <app-painelmain-lojavirtual titulo = "Painel de Produtos" col="12" tipo="info">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos.item">
          <td>{{produto.imagem}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.descricao}}</td>
          <td>{{produto.preco}}</td>        
        </tr>
      </tbody>
    </table>
  </app-painelmain-lojavirtual>
</div>